.calculator {
  height: 550px;
  width: 400px;
  background-color: $white;
  border-radius: 20px;
  position: absolute;
  left: 50%;
  top: 50%;

  display: flex;
  flex-direction: column;
  justify-content: space-between;

  padding: 3rem 1rem;

  transform: translate(-50%, -50%);

  &__display {
    height: 100px;
    background-color: $blue_very_light;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 0.5rem 1rem;

    &__secundary {
      color: $blue;
    }
    &__primary {
      align-self: flex-end;
      color: $blue_dark;
      font-size: 2.25em;

      overflow: hidden;
      text-overflow: ellipsis;
      word-wrap: break-word;
      display: block;
      line-height: 1em; /* a */
      max-height: 1em; /* a x number of line to show (ex : 2 line)  */
    }
  }

  &__buttons {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 0.5rem;

    &__button {
      width: 100%;
      height: 60px;
      border-radius: 10px;
      display: flex;
      align-items: center;
      justify-content: center;
      font-size: 1.1em;
      cursor: pointer;

      border: none;
      outline: none;

      transition: all 0.1s ease-in-out;

      &:hover {
        transform: scale(1.1);
        box-shadow: 0 2px 5px rgba(0, 0, 0, 0.5);
      }
    }
  }
}

.button--operator,
.button--function {
  background-color: $blue_light;
  color: $blue;
}
.button--number {
  background-color: $blue_very_light;
  color: $blue_dark;
}
.button--enter {
  grid-column: 4/6;
  text-transform: uppercase;
  color: $white;
  background-color: $blue;
}
